body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0; /* Heller Hintergrund */
    color: #333; /* Textfarbe */
}

h1, h2 {
    color: #2c3e50; /* Dunkelblaue Schriftfarbe */
}

input, textarea, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"] {
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 200px;
    resize: vertical; /* Ermöglicht dem Benutzer, die Größe des Textfeldes anzupassen */
}

button {
    background-color: #3498db; /* Blaue Hintergrundfarbe für Buttons */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; /* Dunkleres Blau, wenn der Button überfahren wird */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3498db;
}
